input{
    margin-top: 10px;
    background-color: rgb(233, 229, 229);
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(141, 169, 180);
}
.resetbtn{
    padding: 8px;
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: none;
}
.submissionbtn{
    padding: 8px;
    font-size: large;
    background-color: green;
    color: white;
    border-radius: 4px;
    border: none;
}
.firstdiv{
    margin-left: 28px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    background-color: lightgrey;
    width: 450px;
}
p{
    text-decoration: underline rgb(65, 31, 31) 2px;
}
select{
    padding: 5px;
}